/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Header */
.header {
  background-color: white;
  padding: 25px 50px;
}

.header span {
  font-family: Arial, sans-serif;
  font-size: 80px;
  font-weight: bold;
  vertical-align: middle;
}

.header img {
  height: 120px;
  width: 120px;
  vertical-align: middle;
}

/* Common */
/* Layout */
.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  padding-left: 30px;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgba(246, 248, 249, 255);
}

.positive {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid green;
  text-align: center;
  color: green;
  font-size: 20px;
}

.negative {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid red;
  text-align: center;
  color: red;
  font-size: 20px;
}

.label {
  display: inline-block;
  background-color: transparent;
  color: white;
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  border-radius: 18px;
  font-size: 18px;
  padding: 0px 15px;
}

.bg-blue {
  background-color: rgba(71, 173, 241, 255);
}

.bg-purple {
  background-color: rgba(156, 114, 228, 255);
}

.bg-green {
  background-color: rgba(100, 192, 169, 255);
}

.bg-orange {
  background-color: rgba(242, 158, 51, 255);
}

.bg-pink {
  background-color: rgba(219, 113, 170, 255);
}

.bg-lgreen {
  background-color: rgba(176, 201, 38, 255);
}

/* MAIN */
.topsection {
  border-bottom: 4px solid rgba(246, 248, 249, 255);
  padding: 15px 0px 10px;
}

/* .divider {
  border-top: 4px solid rgba(246, 248, 249, 255);
} */

.taskadd {
  display: inline-block;
  background-color: rgba(71, 173, 241, 255);
  color: white;
  font-weight: bold;
  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  font-size: larger;
}

.sectionadd {
  display: inline-block;
  background-color: white;
  color: grey;
  font-weight: bold;
  /* width: 120px;
  height: 50px; */
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: larger;
  margin: 0 auto;
  padding: 0px 10px;
}

.titlesub-list {
  list-style: none;
  font-weight: bold;
  font-size: 30px;
  margin-top: 25;
}

.titlesub-list .content {
  list-style: none;
  font-weight: normal;
  font-size: 25px;
  padding: 10px 10px;
  /* margin-top: 10px; */
}

.titlesub-list .content li {
  padding-top: 10px;
}

/* .sub-list {
  list-style: none;
  padding-left: 50px;
  font-weight: normal;
  font-size: 25px;
} */
